style(type="text/css")
  #shipsRemaining {
    margin-top: 10px;
  }

div(class="content")
  div(class="status")
    p Nome
    input(type="text", id="txtName")
  div(class="status")
    p Status
    div(id="playerStatus") Aguardando Oponente
    div(id="playerStatus") Selecione a posição de seus navios
  div(class="status", id="divActions")
    p Ações
    span
      button(type="button", id="btnClearShips") Limpar Navios
      button(type="button", id="btnReady") Pronto!
      button(type="button", id="btnDirection") Horizontal
  div(class="status")
    p Navios Disponíveis
    span(id="shipsRemaining") 5
  div(class="status")
    p Oponente
    span(id="otherPlayer") Aguardando
div(class="gameboard", id="gameboard")
div(class="clearfix")
script(type="text/javascript", src="/javascripts/main/board.js")
