div(class="content")
  button(type="button", id="btnAddBlock")
    Add Block
div(class="gameboard", id="gameboard")
div(class="clearfix")
script(type="text/javascript", src="/javascripts/main/board.js")


